# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Configuration files
appsettings.Development.json

# Logs
*.log

# Others
*.db
*.sqlite
*.pdb
*.cache
*.vs/

#images
staywise/wwwroot/uploads